# development | staging | production
NODE_ENV=development
PORT=3000
DATABASE_URL=postgres://postgres:password_anda@localhost:5432/titik_baik
DB_PASSWORD=ganti_dengan_password_aman
JWT_SECRET=ganti_dengan_string_acak_panjang_dan_rumit
SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
SUPABASE_ANON_KEY=your_anon_key
#ALLOWED_ORIGINS=https://app.titikbaik.id
