# Konfigurasi Server
PORT=3000

# Konfigurasi Database PostgreSQL (Pastikan ekstensi PostGIS aktif)
# Format: postgres://<username>:<password>@<host>:<port>/<nama_database>
DATABASE_URL=postgres://postgres:password_anda@localhost:5432/titik_baik

# Keamanan (JWT)
# Gunakan string acak yang panjang dan rumit di production
JWT_SECRET=rahasia_titik_baik_super_aman